#about {
    text-align: center;
    color: rgb(77, 75, 76);
    padding: 10px;
}
.services {
    display: flex;
    padding: 50px;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}
.serv {
    color: rgb(255, 136, 185);
    padding: 10px;
}