@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.outline {
    font-family: 'Roboto',serif,sans-serif,'Times New Roman', Times;
    background-image: url(../images/wallpaper.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 120vh;
    justify-content: center;
    align-items: center;
}
.title {
    text-align: center;
    padding: 1rem;
    color: rgb(207, 32, 61);
    font-size: 30px;
    font-weight: bold;
}
.wallpaper2 {
    background-image: url(../images/wallpaper2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

@media only screen and (max-width:600px){
    .outline{
        background-size: contain;
        height: 31.7vh;
        color: white;
    }
    .title{
        color: rgb(207, 32, 61);
        font-size: 17px;
    }
    .wallpaper2 {
        background-size: contain;
        height: 40vh;
    }
}